<h1>TEMPERATURE CONVERSION This is parent component </h1>

Enter Fahrenheit Value : <input [(ngModel)]="parentText" type="text" />
<!-- <button (click)="onParentButtonClick()"></button> -->


Enter Celcius Value : <input [(ngModel)]="CelciusParentText" type="text" />


<!-- <p>Value of the child text box is {{newValue}}</p> -->
<!-- <p>The value from the child component is </p> -->
<app-temperature [parentvalue]="parentText" [ConversionParentValue]="CelciusParentText"
></app-temperature>

<!-- WE CREATE  ConversionParentValue IN OUR CHILD COMPONENT  -->
